fastapi
uvicorn[standard]
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
resend
qrcode[pil]
psycopg2-binary
dnspython
email-validator
aiosqlite
bcrypt
slowapi
supabase
pydantic
pg8000
