fastapi
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
resend
qrcode[pil]
email-validator
aiosqlite
bcrypt
slowapi
supabase
